input {
  padding: 20px;
  border-radius: 12px;
  border: none;
  min-width: 500px;
  color: black;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 50px;
}
.input {
  position: relative;
}
.lupa {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005cff;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  top: 0px;
  right: 0px;
  border: none;
  cursor: pointer;
}
.lupa:hover {
  background-color: #004dd3;
}

@media (max-width: 1000px) {
  input {
    min-width: 300px;
  }
}
@media (max-width: 650px) {
    input {
      min-width: 50px;
      padding: 10px;
    }.lupa {
        width: 35px;
        height: 35px;
        border-radius: 10px;
      }
  }
